build
coverage
furo
mock
myst-parser
pre-commit
pytest
pytest-cov<7.0.0
pytest-mock
scikit-learn
lightning==2.5.1.post0
sphinx
sphinxcontrib-napoleon
tabulate
tox
tox-uv
yapf
wandb
tensorboard
mosaicml-streaming
cppimport
einops
