build
coverage
furo
mock
myst-parser
pre-commit
pytest
pytest-cov
pytest-mock
scikit-learn
lightning==2.5.1.post0
sphinx
sphinxcontrib-napoleon
tabulate
tox
tox-conda
yapf
wandb
tensorboard
mosaicml-streaming
cppimport
einops
